a, a:hover, a:focus{
color: white;
}
html, body{
	width:100%;
	height: 100%;
	background-color: #fff;
	font-size:1.0rem;
}
.navbar{
z-index: 99999999;
background: linear-gradient(to top, transparent -5%, #000 90%);
width:100%;
}
.nav-link{
font-size:1.1rem;
}
.nav-link:hover{
color:gray;
}
.nav-item{
width:100%;
height:100%;
margin:1em;
}
#navFlex{
width:100%;
display: -webkit-flex;
display: flex;
justify-content:space-evenly;
-webkit-justify-content:space-evenly;
}
#headerImageContainer{
position:relative;
height:100vh;
overflow:hidden;
}
#headerImage{
position:relative;
}
#logoImageContainer #logoImage{
display:block;
position:relative;
width:60%;
height:30%;
}
#headerImageContainer #headerImage{
position:absolute;
width:100%;
height:100%;
}
#headerImageContainer #logoImageContainer{
position:absolute;
z-index:88888888;
width:100%;
height:100%;
top:35%;
left:20%;
}
#quoteContainer{
background-color: #40c9d5;
}
q{
quotes: "\275d" "\275d";
height:100%;
}
.blockquote{
border-left: 0em;
font-size:1.5rem;
}
.row{
align-items:center;
text-align:center;
}
#whypolitech h2{
color: #54a4d5;
font-size:2.8rem;
margin-bottom: 1em;
font-weight:bold; 
}
#whyContent{
vertical-align:top;
}
#whyContent span:first-of-type{
font-weight:bold;
font-size:2rem;
}
#whyContent div:nth-of-type(1){
margin-bottom: 2em;
}
#whyContent span{
font-size:1.5rem;
}
.card{
justify-content:center;
align-items:center;
padding:2em;
margin: 1em;
border:0em;
border-radius:.4em;
background-color:white;
box-shadow: 0 .4em .8em rgba(0, 0, 0, .05);
}
.card:hover{
top:-.1em;
left:-.1em;
box-shadow: 0 .4em .8em rgba(0, 0, 0, .1);
cursor:pointer;
}
.card-body{
padding-top:.8em;
margin-top:.7em;
}


