html, body{
	 height: 100%;

}

#bbbblock{
	background-color:#111;
	background-image:url('img/headerImage.jpg');
	background-position:center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
    height:80vh;
	height: calc(100% - 105px);
}

.text_centr_vertik{
	display: flex;
	justify-content: center;
	align-items: center;

}

.grad{
	background: linear-gradient(to top, transparent -5%, #000000 80%);
}

@media (max-width: 980px)
{
	#bbbblock {
    	height: calc(100% - 80px);
	}
}


.bg_gray * {
    background-color: #e9ecef!important;
}


