html, body{
	 height: 100%;

}

#bbbblock{
	background-color:#111;
	background-image:url('img/headerImage.jpg');
	background-position:center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
    height:80vh;
	height: calc(100% - 105px);
}

.text_centr_vertik{
	display: flex;
	justify-content: center;
	align-items: center;

}

.grad{
	background: linear-gradient(to top, transparent -5%, #000000 80%);
}

@media (max-width: 980px)
{
	#bbbblock {
    	height: calc(100% - 80px);
	}
}

a, a:hover, a:focus{
text-decoration:none;
}
html, body{
	width:100%!important;
	height: 100%!important;
	background-color: #fff!important;
	font-size:1.0rem!important;
}
.navbar{
z-index: 99999999!important;
background: linear-gradient(to top, transparent -5%, #000 90%)!important;
width:100%!important;
}
.nav-link{
font-size:1.1rem!important;
}
.nav-link:hover{
color:gray!important;
}
.nav-item{
width:100%!important;
height:100%!important;
margin:1em!important;
}
.nav-item a{
color:white!important;
}
#navFlex{
width:100%!important;
display: -webkit-flex!important;
display: flex!important;
justify-content:space-evenly!important;
-webkit-justify-content:space-evenly!important;
}
#headerImageContainer{
position:relative!important;
height:100vh!important;
overflow:hidden!important;
}
#headerImage{
position:relative!important;
}
#logoImageContainer #logoImage{
display:block!important;
position:relative!important;
width:60%!important;
height:30%!important;
}
#headerImageContainer #headerImage{
position:absolute!important;
width:100%!important;
height:100%!important;
}
#headerImageContainer #logoImageContainer{
position:absolute!important;
z-index:88888888!important;
width:100%!important;
height:100%!important;
top:35%!important;
left:20%!important;
}
#quoteContainer{
background-color: #e9ecef!important;
}
q{
quotes: "\275d" "\275d"!important;
height:100%!important;
}
.blockquote{
border-left: 0em!important;
font-size:1.5rem!important;
}
.row{
align-items:center!important;
text-align:left!important;
}
#whydoc h2{
color: #54a4d5!important;
font-size:2.8rem!important;
margin-bottom: 1em!important;
font-weight:bold!important;
width: 100%!important;
}
#whydocdate h2{
color: #54a4d5!important;
font-size:2.8rem!important;
margin-bottom: 1em!important;
font-weight:bold!important;
}
#whydocexam h2{
color: #54a4d5!important;
font-size:2.8rem!important;
margin-bottom: 1em!important;
font-weight:bold!important;
}
#whypolitech2 h2{
color: #54a4d5!important;
font-size:2.8rem!important;
margin-bottom: 1em!important;
font-weight:bold!important;
}
#whyContent{
vertical-align:top!important;
}
#whyContent span:first-of-type{
font-weight:bold!important;
font-size:2rem!important;
}
#whyContent div:nth-of-type(1){
margin-bottom: 2em!important;
}
#whyContent span{
font-size:1.5rem!important;
}
.card{
justify-content:center!important;
align-items:center!important;
margin: 1em!important;
border:0em!important;
border-radius:.4em!important;
background-color:white!important;
box-shadow: 0 .4em .8em rgba(0, 0, 0, .05)!important;
width:100%!important;
height:100%!important;
}
.card:hover{
box-shadow: 0 .4em .8em rgba(0, 0, 0, .1)!important;
cursor:pointer!important;
}
.card-body{
padding-top:.8em!important;
margin-top:.7em!important;
}
.card-img-overlay > div{
position:relative!important;
width:100%!important;
height:10%!important;
}
.card-img-overlay{
display:flex!important;
align-items:flex-end!important;
justify-content:center!important;
}
.card a{
font-size:1.2rem!important;
text-weight:bold!important;
color: #54a4d5!important;
}

.card a:hover{
font-size:1.2rem!important;
text-weight:bold!important;
color: #54cdd5!important;
}

h3{
color: #54a4d5!important;
font-size:1.5rem!important;
margin-bottom: 1em!important;
font-weight:bold!important;
}

h4{
color: #303030!important;
font-size:1.8rem!important;
margin-bottom: 1em!important;
font-weight:bold!important;
}

p{
color: #303030!important;
font-size:1.8rem!important;
margin-bottom: 1em!important;
font-weight:bold!important;
}


